@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

/*footer section start*/

.footer1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #445268;
  color: #ffffff;
}

.Subscribe {
  display: flex;
  margin: 3% 37%;
  /* width: 103px;
	height: 40px; */
}

.Subscribe input {
  color: #ffffff;
  width: 276px;
  height: 40px;
  background-color: #313d51;
  border: 2px solid rgba(143, 136, 136, 0.938);
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 10px;
}

.Subscribe button {
  color: #ffffff;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  width: 116px;
  height: 45px;
  margin-left: 1px;
  background-color: #445268;
  border: 2px solid rgba(143, 136, 136, 0.938);
}

.bottom {
  display: inline-flex;
}

.bottommenu {
  display: inline flex;
  font-size: 20px !important;
  margin: 10px 0px 10px 23vw;
  /* text-align: center; */
  border-bottom: 2px solid #354257;
  text-transform: capitalize;
}

.try {
  margin-right: 120px;
}

.try h3 {
  font-size: 1.2rem;
  margin-bottom: 16px;
}

.try h2 {
  font-size: 0.9rem;
}
.location {
  margin-left: 7rem;
  box-sizing: border-box;
  overflow: hidden;
  width: 250px;
  height: 256px;
}

.tryLast h3 {
  font-size: 1.2rem;
}

.tryLast h2 {
  font-size: 0.8rem;
}

.social-footer {
  width: 100%;
}
.social-footer-icons {
  text-align: center;
}

.social-footer-icons ul {
  display: flex;

  margin: 10px 32vw;
}

.social-footer-icons li {
  text-align: center;
  font-size: 2rem;
  margin: 0px;
  /* padding: 0px 6%; */
  /* border: 2px solid red; */
}

.social-footer-icons li a i {
  height: 30px;
  width: 30px;
  border: 2px solid gray;
  border-radius: 50%;
  padding: 10px 10px;
}

.social-footer-icons li a i:hover {
  background-color: #f953c6;
}

.copyright {
  margin-top: 10px;
  text-align: center;
}

.footer-down {
  text-align: center;
  color: whitesmoke;
  font-size: 12px;
}

.footer-down a {
  color: #ffffff;
  text-decoration: none;
}

.footer-language {
  margin: 15px 0px;
}

.footer-policy {
  margin: 20px 0px;
}

.footer-copyright {
  margin-bottom: 30px;
}

@media screen and (width<1550px) and (width>920px) {
  .social-footer-icons ul {
    /* display: flex; */
    margin: 10px 40vw;
  }

  .social-footer-icons ul li:nth-child(1) {
    margin: 0px 0px 0px -10%;
  }
  .social-footer-icons ul li:nth-child(3) {
    padding: 0px 6% 0px 3%;
  }

  .social-footer-icons ul li:nth-child(2) {
    padding: 0px 3% 0px 6%;
  }
}

@media screen and (width<1450px) and (width>920px) {
  .bottom {
    display: inline;
  }

  .location {
    margin: 0px auto;
    box-sizing: border-box;
    overflow: hidden;
    width: 25%;
    height: 25%;
  }

  /* .social-footer-icons ul {
    display: flex;
    margin: 10px 32%;
  } */
  @media screen and (width<1200px) {
    .bottommenu {
      /* display: inline flex; */
      margin-left: 24%;
      padding: 0%;
    }
    .try {
      padding: 0%;
    }
    .try h3 {
      font-size: 1rem;
      /* margin-bottom: 16px; */
    }

    .try h2 {
      font-size: 0.6rem;
    }

    .tryLast h3 {
      font-size: 1rem;
    }

    .tryLast h2 {
      font-size: 0.6rem;
    }
    @media screen and (width<1150px) {
      .try {
        margin-right: 4em;
      }
    }
    @media screen and (width<1100px) {
      .try {
        margin-right: 3.7em;
      }
    }
  }
}

@media screen and (width<=1365px) and (width>921px) {
  .social-footer-icons ul li:nth-child(1) {
    margin: 0px 0px 0px -1.4em;
  }
}

@media screen and (width<=921px) and (width>540px) {
  .Subscribe {
    /* display: flex; */
    margin: 3% 32%;
    width: 103px;
    height: 40px;
  }
  .bottommenu {
    display: inline;
    margin-right: 0px;
    /* padding: 0%; */
    text-align: center;
  }
  .try {
    margin-right: 0px;
  }

  .location {
    margin: 0px auto;
    box-sizing: border-box;
    overflow: hidden;
    width: 250px;
    height: 256px;
  }
  .bottom {
    display: inline;
    /* margin-left: 24%; */
    /* padding: 0%; */
    text-align: center;
  }

  .social-footer-icons {
    margin: 0px auto;
  }

  .social-footer-icons ul li:nth-child(3) {
    margin: 0px 6% 0px 3%;
  }

  .social-footer-icons ul li:nth-child(2) {
    margin: 0px 3% 0px 6%;
  }
  .footer-down {
    padding: 0px 5%;
  }
}
