.createcustom{
    width: 100%;
    height:100%;
	/* background:#998235; */
background:url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;

}
.createcustom .topsection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:5px;
    justify-items: center;


}

.createcustom .topsection .searchsection{
    display: flex;   
    flex-direction: column;;


}
.createcustom .topsection .searchsection .searchproduct{

}

.createcustom .topsection .searchsection .search{
/* background-color: green; */
margin:10px;
width:100%;
display: flex;
justify-content: center;
align-items: center;

}

.createcustom .topsection .searchsection  input{
	padding: 8px;
	width: 70%;
	border: 1px solid;
	border-radius: 8px 0 0 8px;
	position: relative;
	border-right: none;
	font-size: 18px;
	border: none;
	outline: none;
    border:1px solid black;
	border-right: none;
}

.createcustom .topsection .searchsection button{
    padding: 8px;
	width: 10%;
	text-align: center;
	border-radius: 0 5px 5px 0;
	border-left: none;
	background: #998235;
	color: white;
	cursor: pointer;
	border: none;
	overflow: hidden;
	position: relative;
	font-size: 18px;
	border:1px solid black;
	border-left: none;

}

.createcustom .topsection .searchsection .productlist{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.createcustom .topsection .searchsection .productlist .product_item{
	background-color: azure;
	height: 250px;
}
.createcustom  .productlist  .product_item:hover{
	box-shadow: 1px 1px 3px black;
}
.createcustom .topsection .searchsection .productlist img{
    width:150px;
    height:150px;

}
.createcustom .topsection .searchsection .productlist .product_bottom{
	padding: 9px;
}
.createcustom .topsection .searchsection .productlist .prize{
	color: #ff6b09;
	font-size: 18px;
	padding: 7px 0;
}
.createcustom .topsection .searchsection .productlist .discount{
	font-size: 14px;
	padding: 7px 0;
}
.createcustom .topsection .searchsection .productlist button{
	background-color: #998235;
	color: white;
	font-size: 16px;
	padding: 4px 13px;
	margin-right: 3px;
	border: 0;

}
.createcustom .topsection .basket_toprate{

}
.createcustom .topsection .basket{
    
}
.createcustom .topsection .basketfield{
    
}
.createcustom .topsection .basket_toprate img{
    width:100px;
    height:100px;
}
.createcustom .topsection .basket_toprate{
    
}

.createcustom .topsection .basket_toprate .toprateproduct{
    
}

.createcustom .topsection .basket_toprate .productlist{
    
}
.createcustom .bottomsection{
    
}