@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shalimar&display=swap');


body{
	margin: 0;
	padding: 0;
	font-family: 'Arial',sans-serif;
	box-sizing: border-box;

}
.dark{
	background-color: black;
	color: white;
}
/*global tag */
.container{
	padding:  2px;

}
.content{

}
ul{

}
li{
	list-style: none;
}
a{
    text-decoration: none;
}
/*Global end */
/*head section start */
header{
	width: 100%;
	color:  white;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.headtop{
	 display: flex;
	 flex-direction: row;
	 justify-content: space-between; 
	 align-items: center; 
	 height: 60px;
	 background-color: #131921;

}
.headtop .logo{
	margin-left: 2%;
	display: flex;
	justify-content: center;
	align-items: center;

}
.headtop .logo .sitename{
	font-family: 'Shalimar', cursive;
	color: white;

}
.headtop .logo a{

}
.headtop .logo img{
	width: 40px;
	height: 40px;
	border-radius: 50%;

}
.headtop .search{
	background: transparent;
	width: 50%;
	display: flex;
	margin-right: -10px;



}
.headtop .search input{
	padding:  8px;
	width: 70%;
	border: 1px solid;
	border-radius:  8px 0 0 8px;
	position: relative;
	border-right: none;
	font-size: 18px;
	border: none;
	outline: none;

}
.headtop .search button{
	padding: 8px;
	width: 10%; 
	text-align: center;
	border-radius: 0 5px 5px 0;
	border-left: none;
	background:#998235;
	color:  white;
	cursor: pointer;
	border: none;
	overflow: hidden;
	position: relative;
	font-size: 18px;

}

/*< Counter Css Start*/
#clockdiv{
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	align-items: center;
}

#clockdiv .book{
	display: flex;
	justify-content: center;
}
#clockdiv .book  button{
	cursor: pointer;
	 padding:  5px;
	 font-size: 16px;
	 height: 100%;
	 color: white;
	 background: linear-gradient(90deg, rgba(19,25,33,1) 0%, rgba(153,130,53,1) 100%);
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    font-family: 'Shalimar', cursive;
    font-size: 20px;
}
#clockdiv .book  button:hover{
	/*background: background: linear-gradient(90deg, rgba(153,130,53,1) 0%, rgba(19,25,33,1) 100%);*/
	background-color: red;
   cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;
}

#clockdiv .times{
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
}

#clockdiv .times #time{
	/*border: 3px solid rgba(255, 0, 0,0.2);*/
	border: 5px solid transparent;

	background-color: transparent;
	padding: 0  2px  0 2px;
	border-radius: 5px;

}

#clockdiv .times span{

}

#clockdiv .times .smalltext{
	font-size: 12px;
}





    /*Counter Css Ends */



.headtop .search button:hover{
 background-color: #F3AC3C;

}
.headtop .login{
 margin-right: 3%;
}
.headtop .login a{
	color: white;

}
.headtop .login  ul{
	display: flex;
	justify-content: flex-end; 

}
.headtop .login  ul li{
	padding: 10px;
	
}



/*night mode set start */
.headtop .login .dark {
  background-color: #292c35;
}
.headtop .login .checkbox {
  opacity: 0;
  position: absolute;
}

.headtop .login .label {
  width: 30px;
  height: 10px;
  background-color:#111;
  display: flex;
  border-radius:50px;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  transform: scale(1);
}

.headtop .login .ball {
  width:19px;
  height: 19px;
  background-color: white;
  position: absolute;
  top: 1px;
  left: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/*  target the elemenent after the label*/
.headtop .login .checkbox:checked + .label .ball{
  transform: translateX(19px);
}

 .headtop .login .fa-moon {
  color: pink;
}

.headtop .login .fa-sun {
  color: #F3AC3C;
}

/*Night mode  button end */
header  nav{
	background:#232f3e;
	height: 40px;
	margin: 0;


}
header nav ul{

}
header nav ul li{

}
/*head section End*/

/*Start product section*/
.product_list{
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: auto auto auto auto auto auto;
	grid-gap: 20px 20px;
	margin: 20px 0;
}
.product_item{
	background-color: azure;
	height: 320px;
}

.product_item:hover{
	box-shadow: 1px 1px 3px black;
}

.product_item img{
	height: 200px;
	width: 200px;
}

.product-bottom{
	padding: 9px;
}
.discount{
	font-size: 14px;
	padding: 7px 0;
}
.prize{
	color: #ff6b09;
	font-size: 18px;
	padding: 7px 0;
}
.light-font{
	color: #a0b3ca;
	margin-right: 8px;
}

.product-bottom a{
	font-size: 15px;
	color: #f07321;
}
.product-bottom a:hover{
	color: rgb(51, 51, 223);
}

.product-bottom .button, .button,.button_apply{
	background-color: #998235;
	color: white;
	font-size: 16px;
	padding: 4px 13px;
	margin-right: 3px;
	border: 0;
}
.product-bottom .button:hover,
.button:hover{
	background-color: #F3AC3C;
	color: white;
}
/*end product section*/


/*********************/
/*Cart Page*/
.cart{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	max-width: 80%;
	margin: 3% 10%;
}

.select_item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 3% 0;
	background-color: azure;
}
.items{
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: auto auto auto auto auto;
	grid-gap: 0 50px;
	border-bottom: 1px solid #a0b3ca;
	margin-top: 10px;
	padding-bottom: 10px;
}

.items img{
	height: 70px;
	width: 70px;
}

.love_delete,.fa-trash-alt{
	margin-top: 5px;
	color: #a0b3ca;
}

.total{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 10px 0;
}
.total .prize{
	padding: 0;
}
.fa-heart{
	margin-right: 20px;
}
.amount{
	margin: 0 10px;
}
.items .light-font{
	font-size: 14px;
}
.button{
	padding: 4px 43px;
}
.button_apply{
	background-color: skyblue;
	padding: 9px 6px;
}
.button_apply:hover{
	background-color: blue;
}
.text_input{
	padding: 8px 5px;
}
